#canvas {
    border: 1px solid black;
}

#toolbar {
    width: 600px;
    border: 1px solid black;
    margin-top: 10px;
    padding: 10px;
}

#toolbar div, #toolbar input, select {
    margin-top: 5px;
    font-family: "Arial";
    font-size: 1em;
}

.inline {
    display: inline;
}

hr {
    margin-top: 10px;
}
