#main-canvas, #control-canvas {
  position: absolute;
  top: 0px;
  right: 0px;
}

.control-canvas {
  z-index: 1;
}

.border {
  border: 1px solid black;
}

.canvas-container {
  display: grid;
}

.double-canvas {
  grid-row: 1;
  grid-column: 1;
}

#toolbar {
  position: absolute;
  left: 0px;
  top: 0px;

  height: 100%;

  background-color: white;
  border-right: 1px solid black;

  z-index: 2;

  margin: 0px;
  padding: 0px;

  overflow: auto;
  resize: horizontal;
}

div, input, select {
  font-size: 16px;
  font-family: "Arial";
}

.ui-block {
  margin: 5px 0px 5px 15px;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.inline {
  display: inline;
}

.hide {
  display: none;
}

.alert {
  color: red;
}

.center {
  float: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

.no-margin {
  margin: 0px !important;
}
