#canvas-container {
    display: grid;
}

canvas {
    border: 1px solid black;
    grid-row: 1;
    grid-column: 1;
    margin: 0px;
}

#controls-canvas {
    z-index: 1;
}

#toolbar {
    width: 600px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
}

#toolbar section, #toolbar div, #toolbar input, #toolbar select {
    margin-top: 5px;
    font-family: "Arial";
    font-size: 1em;
}

hr {
    margin-top: 10px;
    margin-bottom: 0px;
}

.inline {
    display: inline;
}

.hide {
    display: none;
}

.alert {
    color: red;
}

.center {
    float: center;
}

.left {
    float: left;
}

.right {
    float: right;
}

.no-margin {
    margin: 0px !important;
}
