canvas {
  position: absolute;
  left: 500px;
  top: 0px;
}

.control-canvas {
  z-index: 1;
}

#toolbar {
  position: absolute;
  left: 0px;
  top: 0px;

  width: 500px;
  height: 100%;

  margin: 0px;
  padding: 0px;

  overflow-y: scroll;
}

section, div, input, select {
  margin: 3px 0px 3px 10px;
  font-family: "Arial";
  font-size: 16px;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.inline {
  display: inline;
}

.hide {
  display: none;
}

.alert {
  color: red;
}

.center {
  float: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

.no-margin {
  margin: 0px !important;
}
